@CHARSET "UTF-8";

/* Base Styles */
html {
	direction: rtl;
}

.notification {
	background: black;
	color: white;
	padding: 1em;
}

#signIn {
	cursor: pointer;
	float: left;
}

#signOut {
	cursor: pointer;
	display: none;
}

/* Logged-In styles */
.loggedIn #signin {
	display: none;
}

.loggedIn #signout {
	display: block;
}